* {
    box-sizing: border-box;
  }

  header {
    padding: 20px;
    text-align: center;
    background: whitesmoke;
    color: rgb(165, 14, 14);
  }

  header h4 {
    font-size: 36px;
  }

  .card-content {
    text-align: center;
  }

  .card-bottom {
    text-align: center;
  }

  button {
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: blue;
  }

  .start-button {
    text-align: center;
    margin-top: 15px;
  }